<!DOCTYPE html>
<html lang="en" ng-app="Tp5AngularProj">

<head>
    <!--Angular - AngularUI-Router-->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>\
    <!--Bootstrap-->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!--Custom-->
    <link rel="stylesheet" href="css/index.css">
    <meta charset="UTF-8">
    <title>Tp5-Angular</title>
    <script type="text/javascript" src="code/configs/Tp5AngularProjConfig.js"></script>
    <script type="text/javascript" src="code/controllers/IndexCtrl.js"></script>
    <script type="text/javascript" src="code/controllers/Section1Ctrl.js"></script>
    <script type="text/javascript" src="code/controllers/Section2Ctrl.js"></script>
</head>

<body ng-controller="IndexCtrl">
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a id="sect1" href="#" ng-click="sectionBtnClickHndl($event)">Form</a></li>
                    <li><a id="sect2" href="#" ng-click="sectionBtnClickHndl($event)">Search</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="container">
        <div class="starter-template viewContainer">
            <h1>MLH<h1>
            <p>Wellcome MHL (Meli Little Helper) this app was made with angular and bootstrap. 
			Please write your name and the word of the thing that you are looking for and the app will 
			make a consult to MercadoLibre API</p>
			<p>First click on "Form" in the menu bar above, fill the data needed and click on the "Submit" button (down the form) , automatically you will send to the Search panel where you will see the data (previously entered) and the button "Order" to make the request to Mercado Libre. Or even you can click on the button "Search", where by default, "Ipods" will be sought.</p>
            <div class="viewCont" ui-view>
            	
            </div>
    	</div>
    </section>
</body>

</html>
